@media screen and (max-width:425px) {

    .banner-image {
        height: auto;

        width: auto;
        padding: 20px ;
        
    }

    .banner-form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 5px;
        height: auto;    
       
    }
    
    .popular-tours-main{
        display: flex;
        flex-direction:  column-reverse;

    }
    .popular-tours-img img{
        margin: 0 auto ;
        width: 330px;
    }

}